.entity-details-container {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -20px;
	border-left: 1px solid $grey;

	display: flex;
	flex-direction: column;

	.entity-details-header {
		height: 60px;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;

		.header-left {
			display: flex;

			.entity-avatar {
				width: 50px;
				height: 50px;
				background: $grey;
				margin: 20px 0 0 20px;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.entity-info {
				display: flex;
				align-items: center;
				margin: 35px 0 0 10px;

				.entity-type-link {
					color: rgba(0, 0, 0, 0.54);

					&:hover {
						color: $cobalt4;
						text-decoration: underline;
					}
				}

				.entity-title {
					font-size: 24px;
					font-weight: 600;
					margin: 0 0 5px 0;
					height: 30px;
				}

				.entity-loading {
					height: 30px;
					display: flex;
					align-items: center;
					margin: 0 0 5px 0;
				}

				.entity-description {
					font-size: 16px;
				}

				.pt-editable-placeholder > .pt-editable-content {
					color: rgba($black, 0.3);
					font-weight: "Roboto";
				}
			}
		}
	}

	.entity-details-content {
		flex-grow: 1;
		margin: 0px 0 0 0;
		position: relative;

		.pt-tabs {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.pt-tab-list {
			border-bottom: 1px solid $grey;
			padding: 20px 0 0 20px;
			flex-grow: 0;
			flex-shrink: 0;
		}

		.pt-tab-panel {
			flex-grow: 1;
			margin: 0;
			padding: 20px;
			overflow-y: scroll;
			@include webkit-scrollbar-light();
			background: $grey;
			position: relative;
		}

		.pt-tab {
			font-size: 14px;
			font-weight: 400;
			user-select: none;
		}

		.pt-tab-indicator {
			bottom: -1px;
			height: 1px;
			background: $cobalt4;
		}

		.pt-tab[aria-selected="true"],
		.pt-tab:not([aria-disabled="true"]):hover {
			color: $cobalt4;
		}
	}
}
