@import "../../../styles/imports/colors";

.search-content-container {
	flex-grow: 1;
	overflow-y: scroll;
	@include webkit-scrollbar-light();

	.player-temp-container {
		display: block;
		position: fixed;
		right: 20px;
		bottom: 0px;
		z-index: 1000;

		@media (max-width: 1100px) {
			position: fixed;
			right: 20px;
			bottom: 0px;
			z-index: 1000;
		}
	}
}
