@import "../../../styles/imports/colors";

.search-sidebar-container {
	width: 340px;
	flex-grow: 0;
	box-shadow: inset -1px 0 0 0 $grey;
	padding: 30px 1px 0 0;

	.sidebar-title {
		font-size: 26px;
		font-weight: 600;
	}

	.sidebar-subtitle {
		font-size: 14px;
		margin: 4px 0 15px 0;
		opacity: 0.4;
	}
}
