@import "../../../styles/imports/colors";

.clip {
	display: block;
	position: absolute;
	height: 25px;
	top: 0;
	width: 0;
	left: 0;
	background: $grey7;
	border-left: 1px solid $white;
	border-right: 1px solid $white;
	user-select: none;
	transition: background-color 0.1s;
	cursor: pointer;
	z-index: 1;

	&:hover {
		background: $grey12;
	}

	&.playing {
		background: $grey20;
		color: $white;

		&:hover {
			background: $grey25;
		}
	}

	.resize-left {
		display: none;
		width: 5px;
		position: absolute;
		top: 0px;
		left: 0;
		bottom: 0;
		background: $white;
		border-radius: 10px;
		position: absolute;
		border: 1px solid $black;
		cursor: col-resize;
	}

	.resize-right {
		display: none;
		width: 5px;
		bottom: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: $white;
		border-radius: 10px;
		position: absolute;
		border: 1px solid $black;
		cursor: col-resize;
	}

	.played-time {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0;
		background: $grey30;
		z-index: 1;
	}

	&.selected-clip {
		background: $blue1;
		color: $white;
		z-index: 100;

		&:hover {
			background: $blue1;
		}

		.played-time {
			background: $blue10;
		}

		.resize-left,
		.resize-right {
			opacity: 0;
			display: block;
			transition: all 0.1s;
		}

		// &:hover {
		// 	.resize-left,
		// 	.resize-right {
		// 		opacity: 1;
		// 	}
		// }
	}

	.clip-name {
		display: block;
		position: absolute;
		top: 6px;
		left: 5px;
		right: 5px;
		text-overflow: ellipsis;
		font-size: 10px;
		white-space: nowrap;
		overflow: hidden;
		z-index: 10;
	}
}
