.track-details-container {
	width: 415px;
	padding: 20px;

	.track-details-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 10px 0;

		.popover-title {
			font-size: 11px;
			font-family: "Montserrat", sans-serif;
			color: #939393;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}

		.header-actions {
			display: flex;
			position: relative;
			right: -5px;
			li {
				margin: 0 0 0 10px;
				cursor: pointer;

				a.anchor-button {
					cursor: pointer;
					color: #aaaaaa;

					&:hover {
						color: $cobalt4;
					}
				}
			}
		}
	}

	.track-details-content {
		display: flex;

		.track-avatar {
			width: 60px;
			height: 60px;
			position: relative;
			display: flex;
			margin: 0 15px 0 0;
			flex-shrink: 0;
		}

		.track-title-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-grow: 1;

			.title-inputs {
				width: 100%;
			}

			.title-label {
				font-size: 11px;
				color: #939393;
			}

			.track-title {
				font-weight: 600;
				font-size: 20px;
			}
		}
	}

	.reference-container {
		background: $grey;
		padding: 10px;
		border-radius: 3px;
		display: flex;
		height: 50px;
		align-items: center;
		margin: 15px 0 0 0;

		.reference-label {
			width: 70px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			font-family: "Montserrat", sans-serif;
			letter-spacing: 1px;
			font-weight: 600;
			margin-left: -10px;
			flex-shrink: 0;
			color: $cobalt4;
		}

		.reference-selector {
			flex-grow: 1;

			.reference-select-container {
				display: flex;

				.Select {
					flex-grow: 1;
					margin: 0 10px 0 0;
				}

				.pt-button {
					background: $cobalt4;
					color: $white;
				}
			}
		}

		&.reference-by {
			.reference-label {
				color: $rose4;
			}
			.Select {
				&.is-focused:not(.is-open) > .Select-control {
					border-color: $rose4;
				}

				.Select-option {
					&.is-selected {
						background-color: $rose4;
					}

					&.is-focused {
						background-color: $rose4;
					}
				}
			}

			.reference-selector {
				flex-grow: 1;

				.reference-select-container {
					.pt-button {
						background: $rose4;
						color: $white;
					}
				}
			}
		}
	}

	.track-details-description {
		margin: 15px 0 15px 0;
		min-height: 36px;
	}

	.track-detail-footer {
		display: flex;
		justify-content: space-between;
		.footer-left {
			display: flex;
		}

		.date-container {
			margin: 0 0 0 5px;
			font-size: 11px;
			color: #b1b1b1;
			display: flex;
			align-items: center;
		}

		.footer-right {
			.clips-count-container {
				font-size: 11px;
				display: flex;
				align-items: center;
			}

			.duration-count {
				background: $grey;
				padding: 2px 5px 1px 5px;
				border-radius: 3px;
				color: #686868;
				margin: 0 0 0 5px;
			}
		}
	}
}
