@import "../../../styles/imports/colors";

.video-sidebar-container {
	width: 460px;
	flex-grow: 0;
	box-shadow: inset -1px 0 0 0 rgba($black, 0.12);
	padding: 30px 30px 0 0;

	.sidebar-title {
		font-size: 26px;
		font-weight: 600;
	}

	.sidebar-subtitle {
		font-size: 14px;
		margin: 4px 0 15px 0;
		opacity: 0.4;
	}
}
