@import "../../../styles/imports/colors";

.video-content-container {
	display: flex;
	flex-grow: 1;
	position: relative;

	.video-timeline-container {
		display: block;
		width: 100%;
		top: 0;
		left: 0;
		height: 45px;
		padding-right: 16px;
	}

	.video-tracks-container {
		position: absolute;
		top: 45px;
		right: 0;
		bottom: 0;
		left: 0;
		background: $grey;
		overflow-y: scroll;
		@include webkit-scrollbar-light();
	}
}
