$bgColor: white;

$white: white;
$black: #0a0a0a;
$yellow: #faff00;
// $grey: #f2f2f2;

$strokeColor: #c6c6c6;

// =============================================================================

$grey1: #f5f7fa;
$grey2: #f0f2f5;
$grey3: #ebedf0;
$grey4: #e6e8eb;
$grey5: #e1e3e6;
$grey6: #dcdee0;
$grey7: #d7d9db;
$grey8: #d2d3d6;
$grey9: #cdced1;
$grey10: #c8c9cc;

$grey11: #c3c4c7;
$grey12: #bebfc2;
$grey13: #b9babd;
$grey14: #b4b5b8;
$grey15: #afb0b3;
$grey16: #aaabad;
$grey17: #a5a6a8;
$grey18: #a0a1a3;
$grey19: #9b9c9e;
$grey20: #969799;

$grey21: #919294;
$grey22: #8c8d8f;
$grey23: #87888a;
$grey24: #828385;
$grey25: #7d7e80;
$grey26: #78797a;
$grey27: #737475;
$grey28: #6e6f70;
$grey29: #696a6b;
$grey30: #646566;

$grey31: #5f6061;
$grey32: #5a5b5c;
$grey33: #555657;
$grey34: #505152;
$grey35: #4b4c4d;
$grey36: #464647;
$grey37: #414142;
$grey38: #3c3c3d;
$grey39: #373738;
$grey40: #323233;

$grey41: #2d2d2e;
$grey42: #282829;
$grey43: #232324;
$grey44: #1e1e1f;
$grey45: #19191a;
$grey46: #141414;
$grey47: #0f0f0f;
$grey48: #0a0a0a;
$grey49: #050505;
$grey50: #000000;

$grey: $grey3;
$black: $grey45;

// =============================================================================

$blue1: #4b8bfa;
$blue2: #4988f5;
$blue3: #4885f0;
$blue4: #4683eb;
$blue5: #4580e6;
$blue6: #437de0;
$blue7: #427adb;
$blue8: #4077d6;
$blue9: #3f74d1;
$blue10: #3d72cc;

$blue11: #3c6fc7;
$blue12: #3a6cc2;
$blue13: #3969bd;
$blue14: #3766b8;
$blue15: #3663b3;
$blue16: #3461ad;
$blue17: #325ea8;
$blue18: #315ba3;
$blue19: #2f589e;
$blue20: #2e5599;

$blue21: #2c5294;
$blue22: #2b4f8f;
$blue23: #294d8a;
$blue24: #284a85;
$blue25: #264780;
$blue26: #294b87;
$blue27: #234175;
$blue28: #223e70;
$blue29: #203c6b;
$blue30: #1f3966;

$blue31: #1d3661;
$blue32: #1c335c;
$blue33: #1a3057;
$blue34: #182d52;
$blue35: #172b4d;
$blue36: #152847;
$blue37: #142542;
$blue38: #12223d;
$blue39: #111f38;
$blue40: #0f1c33;

$blue41: #0e1a2e;
$blue42: #0c1729;
$blue43: #0b1424;
$blue44: #09111f;
$blue45: #080e1a;
$blue46: #060b14;
$blue47: #05090f;
$blue48: #03060a;
$blue49: #020305;
$blue50: #000000;

$blue: $blue5;

// =============================================================================
