.ontology-browser-content {
	.browser-header {
		display: flex;
		justify-content: space-between;
		padding: 20px 20px 10px 20px;
		align-items: center;
	}

	.browser-actions {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.browser-search-form {
			flex-grow: 1;
			padding: 0 10px 0 0;
		}

		.pt-button {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	.browser-tree {
		margin: 15px 20px 15px 20px;
	}

	.pt-tree-node-content:hover {
		background: transparent;
	}

	.pt-tree-node-content {
		border-radius: 3px;
		cursor: pointer;
		margin: 0 0 3px 0;
		font-size: 13px;
		color: #747474;

		.pt-tree-node-label {
			font-weight: 400;
		}
	}

	.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content {
		background: rgba($cobalt4, 0.1);
	}

	.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content,
	.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon,
	.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-standard,
	.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-large {
		color: $cobalt4;
		&:before {
			color: $cobalt4;
		}
	}

	// .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content,
	// .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon,
	// .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-standard,
	// .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-large {
	// 	color: $white;
	// }

	.pt-tree.pt-elevation-0 {
		box-shadow: none;
	}
}
