.ontology-page-container {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -20px;
	border-left: 1px solid $grey;
	flex-direction: row;
	align-items: stretch;

	.ontology-browser-container {
		width: 400px;
		border-right: 1px solid $grey;
		flex-grow: 0;
		position: relative;
		@import "./OntologyBrowser";
	}

	.ontology-editor-container {
		flex-grow: 1;
		position: relative;
		@import "./OntologyEditor";
	}

	.section-title {
		font-size: 16px;
	}
}

.ontology-loader {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: $black;
	padding: 10px 20px;
	font-size: 16px;
	color: $white;
}

.entity-type-linker {
	width: 600px;
}

.linker-dialog,
.property-creator-dialog {
	.dialog-header {
		margin: 30px 30px 20px 30px;
		display: flex;
		align-items: center;

		h1 {
			font-size: 20px;
			margin: 0 0 0 10px;
		}
	}
	.dialog-content {
		margin: 30px;

		ul.dialog-form {
			li.dialog-form-row {
				display: flex;
				align-items: center;
				margin: 0 0 15px 0;

				.dialog-input-label {
					width: 160px;
					flex-shrink: 0;
					flex-grow: 0;
					font-weight: 400;
					color: #868686;
					font-size: 13px;
				}

				.dialog-input-container {
					flex-grow: 1;
				}
			}
		}
	}
}

.form-headline {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0 20px 0;
}

.generic-properties {
	border-bottom: 1px solid $grey;
	margin: 0 0 30px 0;
	padding: 0 0 20px 0;
}

.custom-properties {
	margin: 0 0 20px 0;

	.single-form-row {
		display: flex;
		align-items: center;
		margin: 0 0 20px 0;

		.input-group {
			flex-grow: 1;
			padding: 0 10px 0 0;
			margin: 0;
		}

		.anchor-button {
			flex-grow: 0;
			margin: 0 0px 0 10px;
		}
	}
}

.form-footer {
	display: flex;
	justify-content: flex-end;
	position: relative;

	button {
		margin: 0 0 0 20px;
	}
}

.property-creator {
	width: 600px;

	.dropdow-values-container {
		margin: 20px 0 0 0;

		.single-dropdown-value-container {
			margin: 0 0 20px 0;
			border-top: 1px solid $grey;
			padding: 20px 0 0px 0;

			.single-dropdown-value-header {
				display: flex;
				justify-content: space-between;
				margin: 0 0 20px 0;

				h1 {
					font-size: 20px;
				}
			}
		}
	}
}
