.ontology-page-container {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -20px;
	border-left: 1px solid $grey;
	flex-direction: row;
	align-items: stretch;

	.ontology-browser-container {
		width: 350px;
		border-right: 1px solid $grey;
		flex-grow: 0;
		position: relative;
		@import "./OntologyBrowser";
	}

	.ontology-editor-container {
		flex-grow: 1;
		position: relative;
		@import "./OntologyEditor";
	}

	.section-title {
		font-size: 16px;
	}
}

.ontology-loader {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: $black;
	padding: 10px 20px;
	font-size: 16px;
	color: $white;
}

.entity-type-linker {
	width: 600px;
}

.linker-dialog {
	.dialog-header {
		margin: 30px 30px 20px 30px;
		display: flex;
		align-items: center;

		h1 {
			font-size: 20px;
			margin: 0 0 0 10px;
		}
	}
	.dialog-content {
		margin: 30px;

		ul.dialog-form {
			li.dialog-form-row {
				display: flex;
				align-items: center;
				margin: 0 0 15px 0;

				.dialog-input-label {
					width: 160px;
					flex-shrink: 0;
					flex-grow: 0;
					font-weight: 400;
					color: #868686;
					font-size: 13px;
				}

				.dialog-input-container {
					flex-grow: 1;
				}
			}
		}
	}
}
