@import "../../../styles/imports/colors";

.app-header {
	height: $headerHeight;
	background: $black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: stretch;
	z-index: 100000000;

	.header-left {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	.search-placeholder {
		display: flex;
		height: 30px;
		max-width: 500px;
		margin: 0 50px 0 30px;
		flex-grow: 1;
		font-size: 13px;

		form {
			width: 100%;
		}

		.input-group-left {
			display: none;
		}

		.input-group-right {
			width: 100%;

			.Select-control {
				background: #262626;
				color: $white;
				border: none;
				border-radius: 0;

				.Select-input > input {
					color: $white;
					font-size: 13px;
				}

				.Select-arrow-zone {
					display: none;
				}

				.Select-placeholder {
					color: $white;
					opacity: 0.5;
				}
			}

			.Select-loading {
				margin: 0 10px 0 0;
			}

			.Select-clear-zone {
				padding: 0 10px 0 0;
			}

			.Select.has-value.Select--single
				> .Select-control
				.Select-value
				.Select-value-label,
			.Select.has-value.is-pseudo-focused.Select--single
				> .Select-control
				.Select-value
				.Select-value-label {
				color: $white;
				font-size: 13px;
			}

			.Select-menu-outer {
				@include border-bottom-radius( 0 );
				background-color: #1a1a1a;
				border: none;
				box-shadow: none;
				box-sizing: border-box;
				margin-top: -1px;
				max-height: 500px;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				z-index: 100;
				-webkit-overflow-scrolling: touch;

				.Select-noresults {
					display: none;
				}
			}

			.Select-option {
				box-sizing: border-box;
				background-color: #1a1a1a;
				color: $white;
				cursor: pointer;
				display: block;
				font-size: 13px;
				z-index: 20000;
				position: relative;

				&:last-child {
					border-radius: 0;
				}

				&.is-selected {
					background-color: $select-option-selected-bg;
					color: $select-option-selected-color;
				}

				&.is-focused {
					background-color: $select-option-focused-bg;
					color: $select-option-focused-color;
				}

				&.is-disabled {
					color: $select-option-disabled-color;
					cursor: default;
				}
			}
		}
	}

	.app-menu {
		width: 74px;
		display: flex;
		justify-content: center;
	}

	.app-logo {
		margin: 0 0 0 22px;
		cursor: pointer;
	}

	.header-right {
		margin: 0 20px 0 0;
	}

	.app-menu {
	}

	ul.header-actions {
		display: flex;
		align-items: stretch;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			margin: 0 0 0 15px;
		}
	}
}
