@import "../../../styles/imports/colors";

.app-header {
	height: $headerHeight;
	background: $white;
	box-shadow: inset 0 -1px 0 0 $grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: stretch;

	.header-left {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	.search-placeholder {
		display: flex;
		height: 40px;
		background: rgba(grey, 0.1);
		max-width: 500px;
		margin: 0 50px 0 50px;
		flex-grow: 1;
	}

	.app-menu {
		width: 74px;
		display: flex;
		justify-content: center;
	}

	.app-logo {
		margin: 0 0 0 20px;
	}

	.header-right {
		margin: 0 20px 0 0;
	}

	.app-menu {
	}

	ul.header-actions {
		display: flex;
		align-items: stretch;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			margin: 0 0 0 15px;
		}
	}
}
